# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\kacpi\OneDrive\Pulpit\Serwis E-commerce Projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

../.env

C:\Users\kacpi\IdeaProjects\Serwis_E-commerce_Projekt\.env
